
{% extends 'layout.twig' %}

	{% block title %}
	Connexion
	{% endblock title %}

	{% block h1 %}
        Connectez-vous
    {% endblock h1 %}

{% block content %}

	<br/><br/><br/><br/>

	{{ incorrect == true ? '<div class="alert alert-danger">
			Identifiants incorrects ou champs non remplis !
		</div>' : '' }}

	{{ message ? '	<div class="alert alert-success">
			<?= $message; ?>
		</div>' : ''}}


<div class="text-center">
	<div>

			<h1>Connectez-vous à votre compte :  </h1> 

			<br/><br/><br/>
	</div>

	<div>

		<form method="post" action="index.php?p=sign_in">
					<label for="email"> Votre email : <input type="text" name="email" id="email"/></label><br/><br/>
					<label for="password"> Votre mot de passe : <input type="password" name="password" id="password"/></label><br/><br/>
				<button><input type="submit" value="Connexion "></button>
		</form>
	</div>

	<br/><br/><br/><br/>

	<p> Vous n'êtes pas encore inscrit mais souhaitez néanmoins publier sur ce blog ?</p>
	<br/><br/>
	<h4>Inscrivez-vous ci dessous</h4>
	<br/><br/>
	<div>
		<h1>Créer mon compte </h1>
		<p>Tous les champs sont obligatoires</p>
		<p>Une fois votre compte crée vous receverez un mail de confirmation d'inscription sous peu et vous pourrez publier du contenu</p>
		<br/><br/>
		<form method="post" action="index.php?p=sign_in">
				<label for="emailCreate"> Votre email </label><br/>
				<input type="text" name="emailCreate" id="emailCreate"/><br/><br/>
				<label for="nameCreate"> Votre nom </label><br/>
				<input type="text" name="nameCreate" id="nameCreate"/><br/><br/>
				<label for="passwordCreate"> Votre mot de passe</label><br/>
				<input type="password" name="passwordCreate" id="passwordCreate"/><br/><br/>
				<label for="passwordConfirm"> Confirmer votre mot de passe</label><br/>
				<input type="password" name="passwordConfirm" id="passwordConfirm"/><br/><br/>
				<label for="descriptionCreate"> Votre description </label><br/>
				<input type="text" name="descriptionCreate" id="descriptionCreate"/><br/><br/>
			<input class="btn btn-primary" type="submit" value="Creer mon compte"/>
		</form>
	</div>

</div>

<br/><br/><br/><br/><br/>


{% endblock content %}
