{% extends 'layout_with_sidebar.twig' %}

    {% block title %}
    		Page d'accueil
    {% endblock title %}

	{% block h1 %}
		Bienvenue sur Watersport-gear
	<h3><em> Review du materiel aquatiques </em></h3>
	{% endblock h1 %}


{% block main %}



 <div class="col-sm-12 blog-item mb100 wow match-height">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="hover-item mb30">
                                                <img src="../assets/img/news/1-wide.jpeg" class="img-responsive smoothie" alt="title">
                                                <div class="overlay-item-caption smoothie"></div>
                                                <div class="hover-item-caption smoothie">
                                                    <h3 class="vertical-center smoothie"><a href="single-post-right-sidebar.html" class="smoothie btn btn-primary page-scroll" title="view article">View</a></h3>
                                                </div>
                                            </div>
                                            <h2 class="post-title">The Ultimate Experience</h2>
                                            <div class="item-metas text-muted mb30">
                                                <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> POSTED IN <span>News</span></span>
                                                <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTHOR <span>Danny Jones</span></span>
                                            </div>
                                            <p>Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given.</p>
                                            <a class="btn btn-primary mt30" href="single-post-right-sidebar.html">Read More</a>
                                        </div>
                                    </div>
                                </div> !-->

 <!--
<h2> Présentation de l'équipe de Watersport-gear </h2>
<br/><br/>

<div class="col-sm-12 blog-item mb100 wow match-height">
    <div class="row">
        <div class="col-xs-12">
            <div class="hover-item mb30">
                <img src="../assets/img/news/1-wide.jpeg" class="img-responsive smoothie" alt="title">
                <div class="overlay-item-caption smoothie"></div>
                <div class="hover-item-caption smoothie">
                    <h3 class="vertical-center smoothie"><a href="single-post-right-sidebar.html" class="smoothie btn btn-primary page-scroll" title="view article">View</a></h3>
                </div>
            </div>
            <h2 class="post-title">Une équipe de passionnés </h2>
            <div class="item-metas text-muted mb30">
                <span class="meta-item"><i class="pe-icon pe-7s-folder"></i></span>
                <span class="meta-item"><i class="pe-icon pe-7s-user"></i></span>
            </div>
            <p> votre nom et votre prénom ; une photo et/ou un logo ;
                un formulaire de contact (à la soumission de ce formulaire, un e-mail avec toutes ces informations vous sera envoyé) avec les champs suivants :
                nom/prénom, e-mail de contact, message, un lien vers votre CV au format PDF ;
                et l’ensemble des liens vers les réseaux sociaux où l’on peut vous suivre (GitHub, LinkedIn, Twitter…).
            </p> <br/><br/>
        <!--
            <div class="text-center">
                <h2>Nous Contacter </h2>
                <br/><br/>
                <form method="post" action="index.php?p=home">
                        <label for="message-email">Votre email</label><br/>
                        <input type="email" name="message-email" id="message-email" required><br/><br/>
                        <label for="message">Message</label><br/>
                        <textarea name="message" id="message" required></textarea><br/><br/>
                    <input class="btn btn-primary" type="submit" value="Envoyer"/>
                </form>
            </div>
        !-->
        </div>       
        </div>
    </div>
</div>


<br/><br/>
{% endblock main %}

{% block paging %}
{% endblock paging %}